---
import Layout from '@layouts/Layout.astro'

const title = '404'
---

<Layout pageTitle={title}>
    <div class="my-16 text-center">
        <h1 class="text-3xl md:text-6xl">{title} 🦦</h1>
        Oops! This page could not be found.
    </div>
</Layout>